<div class="container">
    <h1>Menu</h1>

    <button [(disabled)]="isLoading" mat-flat-button color="primary" (click)="session()">Configurar Session</button>
    <button [(disabled)]="isLoading" mat-flat-button color="primary" (click)="senderHash()">Obter Hash</button>
    <button [(disabled)]="isLoading" mat-flat-button color="primary" (click)="cardBrand()">Bandeira do Cartão</button>
    <button [(disabled)]="isLoading" mat-flat-button color="primary" (click)="getCardToken()">Obter Token do Cartão</button>
    
    <br><br>
    
    <label><b>Resultado:</b> </label> <br>
    <code>{{ temp | json }}</code>
    
</div>


